/* SUPLEMENTOS*/

.logoMuscletech {
    width: $size-sizeLogotipos;
    cursor: pointer;
}

.logoBsn {
    width: $size-sizeLogotipos;
    cursor: pointer;

}

.logoC4 {
    width: 200px;
    cursor: pointer;
}

/* LOGO NIKE */
.logoNike {
    width: $size-sizeLogotipos;
    cursor: pointer;
}

.logoNewbalance {
    width: $size-sizeLogotipos;
    cursor: pointer;
}

/* Logo de WhatsApp*/

.logoContacto {
    width: 70px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    position: fixed;
}